@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
  width: 20px;
  border-left: 9px solid #a18aff;
  border-right: 9px solid #a18aff;
  border-bottom-right-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #ca8bfe;
  border-left: 4px solid #a18aff;
  border-right: 4px solid #a18aff;
  border-radius: 20px;
}

/* background-color: #ca8bfe;
width: 10px;
border-radius: 14px; */
.color-input {
  appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 20%;
  padding: 0;
}

[placeholder] {
  text-overflow: ellipsis;
}
